.main {
  max-width: 1440px;
  margin: auto;
  background-color: #161516;
  min-height: 100vh;
  font-family: "Montserrat";
}

.homePage {
  padding: 50px 70px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.bucketTitle {
  display: flex;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 31px;
  align-items: center;
}

.buttonBack {
  margin-right: 63px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #161516;
  cursor: pointer;
  border: none;
}

.bucketDown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 0 20px 0 28px;
  border-top: 1px solid #d58c51;
}

.bucketSum {
  display: flex;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 21px;
  margin-right: 160px;
}

.bucketPurchase {
  max-width: 200px;
  width: 100%;
  background-color: #d58c51;
  font-size: 14px;
  color: #131313;
  padding: 13px 0;
  cursor: pointer;
}

.goods {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.bucketResult {
  margin-left: 12px;
  color: #d58c51;
}
